* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: linear-gradient(orange, white, lime);
  background-attachment: fixed;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.flagbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.flag {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, rgba(0, 0, 0, 0.118));
  animation: moving 5s alternate-reverse ease-in-out infinite;
}

.orange,
.white,
.green {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100rem;
}

.orange {
  background: orange;
  animation: waveorange 4s ease-in-out infinite both;
}

.white {
  background: white;
}

.green {
  background: green;
  transform: rotate(180deg);
  animation: wavegreen 4s ease-in-out infinite;
}

.chakra {
  position: absolute;
  height: 20rem;
  width: 20rem;
  animation: rotate 3s linear infinite;
  cursor: pointer;
  border-radius: 50%;
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0rem;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  position: relative;
  width: 8rem;
  top: 20rem;
  margin: 5px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  background: -webkit-linear-gradient(rgb(68, 67, 66), rgb(47, 53, 47));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 8px 10px darkgreen;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes waveorange {
  0%,
  100% {
    clip-path: polygon(
      0 3%,
      13% 0,
      29% 3%,
      52% 12%,
      63% 14%,
      75% 13%,
      86% 11%,
      100% 5%,
      100% 100%,
      0 100%
    );
    box-shadow: inset 10px -10px 20px 10px rgb(255, 204, 0);
    border-top-left-radius: 10%;
  }

  50% {
    clip-path: polygon(
      0 10%,
      16% 11%,
      35% 12%,
      51% 9%,
      64% 6%,
      76% 3%,
      89% 6%,
      100% 13%,
      100% 100%,
      0 100%
    );
    box-shadow: inset -10px 10px 20px 10px rgb(255, 204, 0);
    border-top-right-radius: 10%;
  }
}

@keyframes wavegreen {
  0%,
  100% {
    clip-path: polygon(
      0 3%,
      13% 0,
      29% 3%,
      52% 12%,
      63% 14%,
      75% 13%,
      86% 11%,
      100% 5%,
      100% 100%,
      0 100%
    );
    box-shadow: inset 10px 10px 20px 10px limegreen;
    border-top-left-radius: 10%;
  }

  50% {
    clip-path: polygon(
      0 10%,
      16% 11%,
      35% 12%,
      51% 9%,
      64% 6%,
      76% 3%,
      89% 6%,
      100% 13%,
      100% 100%,
      0 100%
    );
    box-shadow: inset -10px 10px 20px 10px limegreen;
    border-top-right-radius: 10%;
  }
}

@media screen and (max-width: 2000px) {
  .container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
  }

  .orange,
  .white,
  .green {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 40rem;
  }

  .chakra {
    height: 8rem;
    width: 8rem;
    animation: rotate 4s linear infinite;
    cursor: pointer;
    border-radius: 50%;
  }

  .buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    position: relative;
    width: 8rem;
    top: 20rem;
    text-transform: capitalize;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(68, 67, 66), rgb(47, 53, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 8px 10px darkgreen;
  }
}

@media screen and (max-width: 650px) {
  .orange,
  .white,
  .green {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 30rem;
  }

  .chakra {
    height: 6rem;
    width: 6rem;
    animation: rotate 4s linear infinite;
    cursor: pointer;
    border-radius: 50%;
  }

  .buttons {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    position: relative;
    width: 8rem;
    top: 20rem;
    text-transform: capitalize;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(68, 67, 66), rgb(47, 53, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 8px 10px darkgreen;
  }

  .btn1,
  .btn3 {
    grid-area: 1;
  }

  .btn2,
  .btn4 {
    grid-area: 2;
  }
}

@media screen and (max-width: 500px) {
  .orange,
  .white,
  .green {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 20rem;
  }

  .chakra {
    height: 4.4rem;
    width: 4.4rem;
    animation: rotate 4s linear infinite;
    cursor: pointer;
    border-radius: 50%;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    position: relative;
    width: 8rem;
    top: 22rem;
    text-transform: capitalize;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(68, 67, 66), rgb(47, 53, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 8px 10px darkgreen;
  }

  .btn1,
  .btn3 {
    grid-area: 1;
  }

  .btn2,
  .btn4 {
    grid-area: 2;
  }
}

@media screen and (max-width: 350px) {
  .orange,
  .white,
  .green {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 14rem;
  }

  .chakra {
    height: 3rem;
    width: 3rem;
    animation: rotate 4s linear infinite;
    cursor: pointer;
    border-radius: 50%;
  }
}

@media screen and (max-width: 250px) {
  .orange,
  .white,
  .green {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
  }

  .chakra {
    height: 8rem;
    width: 8rem;
    animation: rotate 4s linear infinite;
    cursor: pointer;
    border-radius: 50%;
    animation: movingchakra 4s ease-in-out infinite;
  }

  .buttons {
    position: absolute;
    display: flow-root;
    justify-content: center;
    align-items: center;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    position: relative;
    top: 23rem;
    text-transform: capitalize;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(68, 67, 66), rgb(47, 53, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 8px 10px darkgreen;
    margin: 20px;
  }

  .btn1,
  .btn3 {
    grid-area: 1;
  }

  .btn2,
  .btn4 {
    grid-area: 2;
    right: -2rem;
  }

  @keyframes movingchakra {
    0%,
    100% {
      transform: translate(0px, 0px) rotate(0deg);
    }

    30% {
      transform: translate(0px, -100px) rotate(360deg);
    }

    50% {
      transform: translate(0px, 0px) rotate(180deg);
    }

    75% {
      transform: translate(0px, 100px) rotate(360deg);
    }
  }
}
